.mainpage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url(../assets/1.png); 
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 2vh;
}

.mainpage__content {
    width: 100%;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainpage__topbar {
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 4vh; /* Adjust gap as needed */
    background: none;
    z-index: 0; /* Added padding to ensure spacing on smaller screens */
}

/* For screens smaller than 768px (tablets and below) */
@media (max-width: 868px) {
}

/* For screens smaller than 480px (phones) */
@media (max-width: 480px) {
    .mainpage__topbar {
        flex-direction: column;
        gap: 0vh; /* Adjust gap as needed */
        padding: 0 5vw; /* Further increased padding for smaller screens */
        margin-top: 5vh;
    }
}

.mainpage__topbar__logo {
    height: 20vh;
    width: 25vw;
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    img{
        width: 100%;
        
    }


    @media (max-width: 868px) { /* Increased padding for better spacing on smaller screens */
        height: 20vh;
        width: 50vw;
    }
    @media (max-width: 480px) { /* Increased padding for better spacing on smaller screens */
        margin-top: 5vh;
        height: 20vh;
        width: 65vw;
    }
}

.mainpage__topbar__subheader {
    width: 45vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        font-size: 1.35vw;
        color: white;
        width: 100%;
        text-align: center; /* Ensure text is centered */
    }

    @media (max-width: 868px) { /* Increased padding for better spacing on smaller screens */
        height: fit-content;
        width: 80vw;    
        margin-bottom: 5vh;


        p {
            font-size: 2.45vw;
            color: white;
            width: 100%;
            text-align: center; /* Ensure text is centered */
        }
    }
    
}

.register__button {
    width: fit-content;
    height: fit-content;
    background-color: #BC1522;
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
    color: black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.1vh 5.5vw;

    p {
        font-size: 2vh;
        color: white;
    }

    @media (max-width: 868px) { /* Increased padding for better spacing on smaller screens */
        height: fit-content;

    }

    @media (max-width: 488px) { /* Increased padding for better spacing on smaller screens */
        height: fit-content;
        padding: 0.01vh 7.5vw;
    }
}

.mainpage__coverpic {
    width: 100%;
    height: 120vh;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    overflow-y: visible;
}

.mainpage__pinkspacer::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30vh;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.288), rgba(255, 255, 255, 0.753), rgba(255, 255, 255, 1));
    z-index: 1;

}

.mainpage__pinkspacer {
    position: relative;
    width: 100%;
    height: 30vh;
    background-image: url(../assets/1.png); 
    background-position: bottom;
    background-size: cover;
    display: flex;
    justify-content: center;
    overflow: visible;
    
    img {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        width: 83%;
        height: auto;
        max-height: 105vh; /* Adjusted to not overlap the first 25vh of the upper div */
        object-fit: cover;
    }
    
    @media (max-width: 480px) {
        img {
            width: 100%;
        }
    }
    
    
    @media (max-width: 768px) {
        height: 20vh;
    }
    
}


@media (max-width: 768px) {
    .mainpage__pinkspacer::before {
        height: 20vh;
    }

    
}

@media (max-width: 868px) {
    .mainpage__topbar {
        flex-direction: column;
        gap: 2vh; /* Adjust gap as needed for better spacing on smaller screens */
    padding: 0 4vw; /* Increased padding for better spacing on smaller screens */
    margin-top: 4vh;        
    
}
}
@media (max-width: 488px) {
    .mainpage__pinkspacer::before {
        height: 10vh;
    }

    .mainpage__pinkspacer {
        height: 10vh;
    }
}

