.home {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.content {
  position: relative;
  z-index: 1;
}

.newspaper-container {
  position: absolute;
  bottom: -10%; /* This cuts off 10% of the newspaper from the bottom */
  left: -22%;
  width: 85%;
  z-index: 0;
}

.newspaper {
  width: 100%;
  display: block;
}