.mainpage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url(../assets/1.png); 
    background-size: cover;
    background-repeat: no-repeat;
}

.mainpage__content {
    width: 100%;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.mainpage__topbar {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10vh;
    align-items: center;
    justify-content: center;
    background: none;
    z-index: 10; /* Added padding to ensure spacing on smaller screens */
}



.mainpage__topbar__logo {
    height: 20vh;
    width: 55vh;
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width: 100%;
    }


    @media (max-width: 480px) {
        width: 80vw;
    }
}

.mainpage__topbar__subheader {
    width: 85vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    

    p {
        font-size: 2.35vh;
        color: white;
        width: 100%;
        text-align: center; /* Ensure text is centered */
    }  


    @media (max-width: 668px) {
        margin-bottom: 30vh;
    }
}

.register__button {
    width: 10vw;
    height: 8vh;
    background-color: #BC1522;
    border: none;
    border-radius: 10px;
    color: black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10vh;

    p {
        font-size: 2vh;
        color: white;
    }

}

.mainpage__coverpic {
    width: 100%;
    height: 120vh;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
}

.overlay {
    position: absolute;
    top: 0%;
    width: 100vw;
    height: 100vh;
    background-color: #000000a2;
}

.mainpage__pinkspacer {
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
    
    img {
        position: absolute;
        bottom: -20vh;
        left: 40%;
        transform: translateX(-50%);
        width: auto;
        height: 80vh;
        max-height: 105vh; /* Adjusted to not overlap the first 25vh of the upper div */
        object-fit: cover;
    }
    
    
}

