.About_us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30vh;
  margin: 0; /* Ensure no margin */
  padding: 0; /* Ensure no padding */
  background:
    linear-gradient(rgba(232, 201, 212, 0.2) 0%, rgba(255, 255, 255, 1)),
    url('../assets/girls.png') center/cover no-repeat;

  background-size: cover;
  background-repeat: no-repeat;
  /* position: relative; */
}
.about_main {
  position: absolute;

  width: 100%;
  top: 30vh;
  padding: 30px 0px;
  background-color: #ff9bbd;
}
.about_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1300px;
  margin: auto;
  padding: 20px;
  top: 200px;
  /* background-color: #ff9bbd; */
}
.About_us h2 {
  font-size: 58px;
  margin: 0;
}
.About_us p {
  text-align: center;
  font-size: 17px;
  color: #8d311e;
  height: 10vh;

  margin: 0;
  padding: 20px 50px;
}
@media (max-width: 768px) {
  .About_us h2 {
    font-size: 36px;
  }
  .About_us p {
    font-size: 14px;
  }
}
@media (max-width: 500px) {
  /* .about_main{
  height: 30vh;
 } */
  .about_content {
    padding: 0px 20px;
  }
  .About_us h2 {
    font-size: 36px;
  }
  .About_us p {
    margin-top: 20px;
    font-size: 14px;
    padding: 0px;
  }
}
